{% include "partials/snippets/breadcrumbs.njk" %}

<section class="hero hero--small" aria-label="Hero">
	<!-- Hero Background -->
	<div class="hero__bg" role="presentation"></div>
	<!-- Hero Image -->
	<div class="hero__img-wrap">
		<figure class="image image-16by9">
			<img alt="Hero image" src="https://placehold.it/1900x1068" />
		</figure>
	</div>
	<!-- .hero__img-wrap -->
</section>