.alert {
    // Equalize top and bottom padding
    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }
    
	// Dark link color for contrast against toned backgrounds
    .alert-link,
    a {
        color: theme-color("primary");
        &:hover {
            text-decoration: none;
        }
    }
}