.article {
    &.article__related-entry {
        a {
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.article__meta {
    border-bottom: solid 1px $border-color;
}

.article__author,
.article__datetime {
    display: block;
}

.article__tags {
    li {
        display: inline;
        &:not(:last-of-type)::after {
            content: ", ";
        }
    }
}

.article__resources {
    li {
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}

.article__related-title {
    line-height: 1.3;
}

.article__post {
    font-size: $font-size-sm;
}

@include media-breakpoint-up(sm) {
    .article__author,
    .article__datetime {
        display: inline;
    }
    .article__author {
        &::after {
            content: " | ";
            color: $sky-blue;
        }
    }
}

@include media-breakpoint-down(sm) {
    .article {
        .article__title {
            font-size: 2.5rem;
        }
    }
}