.breadcrumb {
    font-size: .875rem;
    color: theme-color("light");
    background-color: theme-color("secondary");
    a,
    .breadcrumb-item.active {
        color: theme-color("light");
    }
    .breadcrumb-item+.breadcrumb-item::before {
        color: $sky-blue;
    }
}