// Override default colors on cards that need more text contrast
.card {
    &.bg-secondary,
    &.bg-success,
    &.bg-danger,
    &.bg-info {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6,
        caption,
        legend {
            color: theme-color("light");
        }
    }
    &.bg-warning {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6,
        caption,
        legend {
            color: $body-color;
        }
    }
}

// Cards that are one big link
a.card {
    color: $body-color;
    text-decoration: none;
    border-color: $sky-blue;
    transition: $btn-transition;
}

// Need a separate class to create cards that look like buttons, because IE
.card.card-button {
    @include subheadFont;
    font-size: 1.25rem;
    line-height: 1.1;
    color: theme-color("light") !important;
    background-color: theme-color("primary");
    &:hover {
        background-color: darken(theme-color("secondary"), 7);
    }
    .card-body {
        text-align: center;
        padding: 1rem;
    }
}

// Card header with a dark background
.card-header--dark {
    color: theme-color("light");
    background-color: theme-color("primary");
    border-bottom: none;
    h2,
    .h2,
    h4,
    .h4 {
        color: theme-color("light");
    }
}

// Darker gray for compliant contrast
.card-header,
.card-footer {
    .text-muted {
        color: gray("800") !important;
    }
}

// Prevent colliding bottom and top borders on card footers after list groups and calendar listings
.list-group+.card-footer,
.calendar .card-footer {
    border-top: none;
}

// Reduce vertical space around card subtitle
.card-subtitle {
    margin-top: 0;
    margin-bottom: .75rem;
}

// Icon row big icons
.card__icon {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: .5rem;
}

// Change header and footer border colors on color border cards, for emphasis
@each $theme-color,
$color in $theme-colors {
    .card.border-#{$theme-color} {
        .card-header {
            border-bottom-color: $color;
        }
        .card-footer {
            border-top-color: $color;
        }
    }
}

// Move the breakpoint where card groups and decks switch to column layout higher
// The BS default breakpoint tends to squeeze content too much before it switches
@include media-breakpoint-down(sm) {
    .card-deck,
    .card-group {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        .card {
            margin: 0 0 15px 0;
        }
        >.card+.card {
            border-left: 1px solid $border-color;
        }
    }
}

// Card flex hacks for IE, which has height calculation problems with flex columns inside flex rows
// Solution: turn columns into wrapping rows
.card,
.card-deck .card,
.card-group .card {
    flex-direction: row;
    flex-wrap: wrap;
}

.card-header,
.card-footer,
.card-body,
.card-img-top,
.card>.list-group {
    flex-basis: 100%;
}

.card-img-top {
    align-self: flex-start;
}