.site-footer,
.site-post-footer {
    // Links
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-footer {
    color: theme-color("light");
    background-color: theme-color("primary");
    position: relative; // Logo
    .site-footer__eu-logo-footer {
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: auto;
        .site-footer__eu-logo-footer-shield-color {
            fill: theme-color("primary");
        }
        .site-footer__eu-logo-footer-shield-stroke {
            fill: $light;
        }
    }
    
    // IE hack for logo positioning
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .site-footer__eu-logo-footer {
            top: -23rem;
        }
    }
    
    // Ribbons
    .site-footer__ribbons {
        position: relative;
        width: 100%;
        .site-footer__ribbons-yellow {
            background-color: $yellow;
            height: 16px;
        }
        .site-footer__ribbons-blue {
            background-color: $light-blue;
            height: 6px;
        }
    }
    
    // Folded ribbons behind logo
    .site-footer__ribbons-fold {
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $light-blue;
        height: 30px;
        span {
            width: 130px;
            height: 20px;
            display: block;
            background: $yellow;
            margin: 0 -.25em 0 -.25em;
            color: $white;
            &:before,
            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border: 5px solid transparent;
                bottom: 0;
                background-color: $yellow;
            }
            &:before {
                border-top-color: darken($yellow, 30);
                border-right-color: darken($yellow, 30);
                left: -.25em;
            }
            &:after {
                border-top-color: darken($yellow, 30);
                border-left-color: darken($yellow, 30);
                right: -.25em;
            }
        }
    }
    
    // Site name
    .site-footer__name {
        @include headlineFont;
        font-size: 2rem;
        line-height: 1.1;
        color: $light;
        a {
            color: $light;
            border-bottom: solid 2px transparent;
            &:hover {
                text-decoration: none;
                border-bottom-color: $sky-blue;
            }
        }
    }
    
    // WYSWIYG
    .wysiwyg {
        a:not(.btn) {
            color: $yellow;
            display: inline-block;
            &:hover,
            &:focus {
                color: $light;
            }
        }
    }
    
    // Rule line
    hr {
        border-top: 2px solid $sky-blue;
    }
    
    // Font Awesome List
    .fa-ul {
        margin: 0 auto;
        .fa-li {
            left: -1rem;
        }
    }
    
    // Nav
    .nav-item {
        text-align: left;
    }
    .nav[aria-label]:before {
        content: attr(aria-label);
        text-align: left;
        color: $light;
        @include subheadFont;
        font-size: 1.5rem;
    }
    .nav.nav-buttons .nav-link {
        @include subheadFont;
        font-size: 1.25rem;
        color: $light;
        position: relative;
        transition: $btn-transition;
        &:hover {
            color: $light;
            background-color: rgba($cyan, .2);
            text-decoration: none;
        }
        svg,
        img {
            margin-right: .5rem;
        }
    }
    .bg-primary .site-footer__menus {
        .nav-link {
            color: $yellow;
            padding: .125rem 0; // Tighten up vertical spacing in footer nav lists
            &:hover,
            &:focus {
                color: $light;
            }
        }
    }
    
    // Social buttons
    .site-footer__social-button {
        font-size: 2rem;
        line-height: 1;
        color: $light;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px transparent;
        margin: .125em;
        padding: .125rem;
        &:hover {
            cursor: pointer;
            color: $sky-blue;
            border-bottom-color: inherit;
        }
        .svg-inline--fa {
            color: inherit;
            transition: $btn-transition;
            &:hover {
                color: inherit;
            }
        }
    }
}

.site-post-footer {
    color: $cool-gray-6;
    background-color: darken(theme-color("primary"), 7%);
    border-top: 1px solid $sky-blue;
    a {
        color: $sky-blue;
        &:hover {
            color: theme-color("light");
        }
    }
}

@include media-breakpoint-down(sm) {
    .site-footer {
        // Nav borders
        .nav.nav-buttons .nav-link {
            border-bottom: 1px solid $sky-blue;
            &:first-child {
                border-top: 1px solid $sky-blue;
            }
            &:focus {
               box-shadow:0 0 0 0.2rem $cyan;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .site-footer {
        // Nav borders
        .nav.nav-buttons {
            border-top: 1px solid $sky-blue;
            border-bottom: 1px solid $sky-blue;
        }
        .nav.nav-buttons .nav-link {
            border-right: 1px solid $sky-blue;
            &:first-child {
                border-left: 1px solid $sky-blue;
            }
        }
    }
}