.site-header {
    // Navbar
    .navbar {
        background-color: $body-bg;
        position: relative;
        height: 5rem;
        padding: 0;
        box-shadow: 0 0 1.25rem rgba($black, .5);
	}
	// Branding
    .site-header__logo-container {
        max-width: 5rem;
        padding: 0;
    }
    .navbar-brand {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-height: 1;
        margin: 0;
        padding: 0;
	}
	// Site text name
    .site-header__site-name {
        @include subheadFont;
        font-size: 1.25rem;
        line-height: 1;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: none;
        color: $body-color;
    }
    .site-header__site-name-container {
        height: 100%;
	}
	// Emory logo shield
    .site-header__eu-logo-shield {
        width: 3rem;
        max-width: 100%;
        height: 3rem;
        path {
            fill: $white;
        }
	}
	// Nav
    .navbar-nav a {
        // More subtle hover outline
        &:not(:focus) {
            outline-width: 1px;
        }
        &:not(:disabled):not(.disabled):hover {
            outline-color: rgba(gray("900"), 0.3);
        }
    }
    .navbar-collapse,
    .site-header__aux-nav {
        background-color: gray("100");
    }
    .site-header__main-nav,
    .site-header__aux-nav {
        .nav-item {
            &.active {
                box-shadow: 0 -3px $sky-blue inset;
            }
        }
        .dropdown-item.active {
            background-color: theme-color("secondary");
        }
    }
    .site-header__main-nav {
        .nav-link {
            @include subheadFont;
            font-size: 1.175rem;
            color: $body-color;
            &:hover {
                color: darken(theme-color("secondary"), 3%);
            }
        }
    }
    .site-header__aux-nav {
        padding-bottom: 3px; // Avoids overlap hiding bottom of the focus outline
        border-bottom: solid 1px $border-color;
        .navbar-nav {
            flex-basis: 100%;
        }
        .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .btn {
            font-size: 1rem;
            line-height: 1;
        }
	}
	// Dropdown arrows
    .dropdown-toggle::after {
        margin-left: 0;
        display: none; // Hide dropdown arrows when dropdowns are deactivated on mobile
	}
	// Mobile nav toggle
    .navbar-toggler {
        &::before {
            display: none;
            font-family: "Font Awesome 5 Solid";
            content: "\f057"; // Close, .fa-times-circle
        }
        &.collapsed::before {
            content: "\f0c9"; // Hamburger Menu, .fa-bars
        }
        .svg-inline--fa {
            font-size: 1.75rem;
        }
        span {
            @include subheadFont;
            font-size: 1rem;
            color: theme-color("primary");
            margin-top: .25rem;
        }
	}
	// Search
    .site-header__search-toggle {
        padding-right: .5rem;
        padding-left: .5rem;
        .svg-inline--fa {
            color: theme-color("light");
        }
    }
}

@include media-breakpoint-up(md) {
    .site-header {
        // Site text name
        .site-name {
            font-size: 1.5rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .site-header {
        // Shrinky Transition
        .navbar {
            transition: height .4s ease-in-out;
        }
        .eu-logo-shield {
            transition: width .2s ease-in-out;
        }
        .logo-container {
            transition: max-width .2s ease-in-out;
		}
		// Shrinky Dink
        &.shrink {
            .site-header__site-name-container,
            .site-header__aux-nav {
                display: none !important;
            }
            .navbar {
                height: 3.25rem !important;
            }
            .site-header__eu-logo-shield {
                width: 2.125rem;
            }
            .site-header__logo-container {
                max-width: 3.5rem;
            }
		}
		// Navbar
        .navbar {
            height: 8rem;
		}
		// Branding
        .site-header__logo-container {
            max-width: 8rem;
		}
		// Site text name
        .site-header__site-name {
            font-size: 2rem;
        }
        .site-header__site-name-container {
            height: auto;
		}
		// Emory logo shield
        .site-header__eu-logo-shield {
            path {
                fill: $white;
            }
            width: 5.25rem;
            max-width: 100%;
            height: auto;
		}
		// Nav
        .site-header__aux-nav {
            background-color: transparent;
            padding-bottom: 0;
            border-bottom: none;
            .navbar-nav {
                flex-basis: auto;
                justify-content: flex-end;
            }
            .nav-link {
                padding-top: .25rem;
                padding-bottom: .25rem;
            }
		}
		// Dropdown arrows
        .dropdown-toggle::after {
            display: inline-block;
		}
		// Search
        #searchDesktop {
            position: relative;
        }
        #searchInput {
            display: none;
            .site-header__search-input {
                display: none; //position: absolute;
                //right: 100%;
            }
        }
    }
}