.hero {
    background-image: url('https://picsum.photos/1920/1080?random'); // Only for demo purposes
    background-position: center;
    background-size: cover;
    &.hero--parallax {
        background-attachment: fixed;
        &.overlay::before {
            background-attachment: fixed;
        }
    }
    &.hero--small {
        background-image: none;
        .hero__img-wrap {
            max-width: 950px;
            margin: 0 auto;
            figure {
                margin: 0;
            }
        }
    }
    >.container {
        position: relative;
        z-index: 1;
    }
    .hero__title {
        font-size: 5.5rem;
        margin-bottom: 0;
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    .display-1,
    .display-2,
    .display-3,
    .display-4 {
        color: theme-color("light");
    }
    a:not(.btn) {
        color: $yellow;
        &:hover {
            color: theme-color("light");
        }
	}
	// Wider max-width for larger lead text
    p.lead,
    ul.lead,
    ol.lead,
    dl.lead,
    blockquote.lead,
    .lead p,
    .lead ul,
    .lead ol,
    .lead dl,
    .lead blockquote {
        max-width: 50em;
    }
}

// Optional overlay that covers the hero photo
.overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
        content: ' ';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: theme-color("primary"); // Fallback
        background-image: url('../images/hero-bg-xl.jpg');
        background-position: center;
        background-size: cover;
        opacity: .85;
    }
    &.overlay--blue {
        background-color: theme-color("primary");
        opacity: .85;
    }
}

// Small BG image used when no hero image
.hero__bg--small {
    height: 3rem;
    background: no-repeat center/cover gray("100") url('../images/facet-bg-light-lg.jpg');
}

@include media-breakpoint-up(sm) {
    .hero:not(.hero--small) {
        height: 70vh;
        min-height: 20rem;
        max-height: 44rem;
    }
}

@include media-breakpoint-down(sm) {
    .hero {
        .hero__title {
            font-size: 3rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .hero {
        position: relative;
        .hero__bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            background: no-repeat center/cover gray("100") url('../images/facet-bg-light-lg.jpg');
            height: 24rem;
        }
    }
}