// Color adjustments
.navbar-light,
.navbar-dark {
    .navbar-nav {
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: rgba(theme-color("dark"), .15);
            &:hover {
                color: theme-color("light");
            }
        }
        .nav-link {
            &:hover {
                background-color: theme-color("secondary");
            }
            &.disabled:hover {
                background-color: transparent;
            }
        }
    }
    &.bg-secondary,
    &.bg-success,
    &.bg-danger {
        .nav-link {
            &:hover {
                background-color: darken(theme-color("secondary"), 7);
            }
        }
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: rgba(theme-color("dark"), .25);
            &:hover {
                background-color: darken(theme-color("secondary"), 7);
            }
        }
    }
}

.navbar-dark {
    &.bg-dark,
    &.bg-primary,
    &.bg-info {
        .navbar-nav {
            .show>.nav-link,
            .active>.nav-link,
            .nav-link.show,
            .nav-link.active {
                background-color: rgba(theme-color("light"), .15);
                &:hover {
                    background-color: darken(theme-color("secondary"), 8);
                }
            }
        }
    }
    &.bg-secondary {
        .nav-link.disabled {
            color: #000;
            opacity: 1;
        }
    }
    &.bg-success,
    &.bg-danger {
        .nav-link.disabled {
            color: theme-color("light");
            opacity: .85;
        }
    }
}

.navbar-light {
    .navbar-brand {
        color: $body-color;
    }
    .navbar-nav {
        .nav-link {
            &:focus {
                color: $body-color;
            }
        }
    }
}

// Tighten up navbar spacing
.navbar-nav {
    line-height: 1.2;
    .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}