// Color adjustments
.nav-tabs,
.nav-pills {
    .nav-link {
        color: darken(theme-color("secondary"), 10); // Darkened default link color to contrast with toned backgrounds
        transition: $btn-transition;
        &:hover {
            color: theme-color("light");
            background-color: theme-color("secondary");
        }
        &.disabled {
            color: $nav-link-disabled-color; // Match global disabled nav link color
            &:hover {
                // Don't change disabled link appearance on hover
                color: $nav-link-disabled-color;
                background-color: transparent;
                text-decoration: none;
            }
        }
    }
}

.nav-tabs .nav-link {
    // Inset outline to compensate for transparent border
    outline-offset: -1px; // Don't visibly change active tab background on hover
    &.active:hover {
        color: $body-color;
        background-color: $body-bg;
        text-decoration: none !important;
    }
}

// Interior nav
.interior-nav {
    @include subheadFont;
    font-size: 1.125rem;
    .nav-link {
        padding: .5rem 1rem;
        border-bottom: solid 1px $sky-blue;
    }
}