<article class="article">

	<div class="section-sm">
		<div class="container">
			<h1>Archives</h1>
			<div class="divider-ornamental" role="presentation"></div>
			<div class="row mb-5">
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring fj lj fld flfl slfjs lkfj dlj flkj dl jlfdjslf jdsldjsl 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
			</div>
			<!-- .row -->
			<div class="divider-ornamental" role="presentation"></div>
			<h2 class="mb-4">Back Issues</h2>
			<div class="row mb-5">
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
				<div class="col-6 col-md-4 col-lg-3 d-flex text-center mb-3">
					<a href="#" class="archive-link d-block p-2">
						<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid mb-2">
						<span class="font-weight-bold">Spring 2018</span>
					</a>
				</div>
				<!-- .col-6 -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- .section -->

</article>
