<article class="article">

	<div class="section-sm">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h2 class="h4 mb-2">Physician Profile</h2>
					<h1>Empowering Teens with Open Doors, Honest Conversations</h1>
					<p class="article-subhead">Tiffany Hailstorcks, MD with Emory Department of Gynecology and Obstetrics Family Planning Division offers patients empathy, education, and support.</p>
					<div class="article__meta mb-3">
						<small>
							<span class="article__author">
								By Johnny J. Smith, Photography by Mandy M. Myers
							</span>
						</small>
					</div>
					<!-- .article__meta -->
					<div class="divider-ornamental w-100" role="presentation"></div>

					<figure class="figure mb-5">
						<img src="{{ includePath }}images/placeholder/interior-cover.jpg" alt="" class="figure-img img-fluid">
						<figcaption class="figure-caption">Sed vitae rhoncus elit, eu congue risus. Aenean vehicula metus odio, et vulputate sem pharetra ut. Ut varius semper ante, quis lobortis odio malesuada quis. Integer diam odio, congue et lacus sit amet, luctus aliquam nulla. </figcaption>
					</figure>

					<div class="wysiwyg">

						<p class="lead">Proin ac lectus viverra, semper ipsum ac, facilisis lectus. Nam auctor dolor dolor, eu ultrices ante hendrerit a. Nulla ac nulla rhoncus, faucibus urna non, porttitor sapien.</p>

						<p>Nunc sed consectetur justo. Aenean pulvinar quam vehicula est tristique euismod. Integer vitae ornare velit, et elementum ex. Morbi non ullamcorper eros. Ut ultrices semper felis, sodales fringilla tellus dapibus a. Nullam vel mauris sed ex ornare elementum id vitae nulla. Mauris dolor massa, sodales quis eros quis, tincidunt cursus est. Praesent vitae diam a dui pellentesque dapibus ut sit amet erat. Etiam consequat nunc non libero rhoncus maximus. Quisque dapibus tellus quis leo vestibulum, nec dapibus leo commodo. Maecenas dolor sem, pulvinar a feugiat vitae, bibendum in orci. Sed hendrerit vehicula aliquet.<p>
						<p>Sed ac porttitor metus, vitae aliquam nulla. Maecenas ullamcorper augue in nisi rhoncus, tincidunt luctus velit luctus. Fusce dignissim dictum justo. Nunc turpis odio, scelerisque ut nulla id, ultrices mattis lorem. Sed et massa a eros efficitur facilisis at nec magna. Fusce sem turpis, varius in justo a, venenatis rhoncus purus. Nam rutrum sit amet justo ut sagittis. Curabitur posuere condimentum aliquam. Sed vel convallis dolor. Vestibulum tellus velit, consectetur quis interdum vitae, euismod quis orci. Morbi nec sagittis felis.</p>

						<h2>A Personal Approach to Care</h2>
						<figure class="figure float-sm-right ml-3">
							<img class="img-fluid" src="{{ includePath }}images/placeholder/interior-1.jpg" alt="placeholder">
							<figcaption class="figure-caption">Etiam viverra, enim vitae posuere consectetur, sem turpis volutpat massa.</figcaption>
						</figure>

						<p>Fusce iaculis, sapien vel dapibus accumsan, diam ante ultricies metus, vitae facilisis urna nunc eget eros. Fusce vel metus non arcu scelerisque tincidunt a sed mi. Sed pulvinar mi in tempor semper. Integer pulvinar at justo ac ullamcorper. Integer cursus massa sed sem placerat aliquet.</p>
						<p>Curabitur ut interdum arcu. Vivamus turpis est, fringilla nec est varius, ultrices egestas nibh. Pellentesque tortor mi, malesuada sit amet auctor at, commodo non sapien. Proin tincidunt justo a iaculis tincidunt. Maecenas facilisis sem ut diam aliquet, et vestibulum nisi elementum. Etiam quam lorem, ultrices vestibulum volutpat eget, egestas nec tortor. Sed neque turpis, aliquet vel leo non, tristique tempus odio.</p>

						<h2>Removing the Stigma</h2>
						<p>Mauris nec libero sapien. Aenean a justo egestas, porta lectus sed, semper leo. Suspendisse vel ipsum leo. Sed ac odio velit. Mauris feugiat interdum ante sit amet aliquam. Donec pulvinar vitae elit sit amet finibus. Nunc fermentum varius arcu ut tincidunt. Phasellus quis augue vel velit pretium posuere id et est. Fusce pellentesque ex nunc, sit amet lacinia lectus auctor vel. Aenean ullamcorper ullamcorper nulla, ornare imperdiet orci vestibulum nec. Fusce facilisis magna mauris, sed vulputate orci ullamcorper eget. Vestibulum non fringilla massa. In vel venenatis tortor.</p>

						<h2>Building Trust</h2>
						<p>Aenean placerat, eros at feugiat posuere, mauris dui malesuada lorem, et finibus diam orci ut urna. Curabitur et urna eu nunc sagittis mollis. Sed at porta tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor felis, rutrum id rhoncus sed, pellentesque in elit. Sed ut quam magna. Donec venenatis accumsan massa nec laoreet. Morbi sit amet mauris vitae elit cursus pretium. Pellentesque sed lobortis odio, in convallis nunc. Donec dapibus arcu non pulvinar facilisis. Nulla semper efficitur quam eget eleifend. Fusce in euismod nunc, a feugiat leo. Ut lacinia eu est in ultrices.</p>
						<p>Ut neque eros, suscipit in tincidunt auctor, aliquam vitae ex. Ut finibus augue in arcu condimentum sollicitudin. Vivamus a egestas orci. Praesent efficitur, eros fringilla varius hendrerit, tortor urna euismod ipsum, ut scelerisque purus lacus vitae ex. Nulla euismod vulputate tortor, scelerisque commodo diam egestas vel. In varius neque in dui molestie, id consequat lacus sodales. Pellentesque ac nunc mauris. Fusce semper urna eget urna congue pretium. Donec pulvinar ultricies mollis. Pellentesque magna risus, aliquam vel lobortis quis, interdum iaculis leo. Quisque vel sagittis leo. Cras quis diam leo.</p>

						<figure class="figure my-4">
							<img class="img-fluid" src="{{ includePath }}images/placeholder/interior-2.jpg" alt="placeholder">
							<figcaption class="figure-caption">Eu facilisis augue lacus sit amet turpis.</figcaption>
						</figure>

						<h2>Meeting Patients Where They Are</h2>
						<p>Etiam a lorem consequat nisi ullamcorper placerat. Sed sodales egestas mi id vehicula. Donec quis erat tincidunt, finibus justo sed, fringilla metus. Sed feugiat tellus eu tortor lobortis, nec accumsan urna aliquam. Donec blandit ligula a lectus tincidunt viverra. Quisque rhoncus nulla quis eros vulputate eleifend. Sed convallis tortor diam, vel mattis diam pellentesque ut. Ut sodales, sapien a mattis dapibus, dolor eros auctor nibh, a dapibus felis felis id neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vitae vulputate nulla, sagittis volutpat eros. Donec eget semper lacus. Fusce imperdiet pellentesque lacus, et gravida diam vestibulum id.</p>

						<h2>Schedule an Appointment</h2>
						<p>Etiam fermentum dui venenatis tristique fermentum. Nulla viverra rutrum euismod. Morbi volutpat, sem sit amet cursus laoreet, nisl libero condimentum justo, ultrices accumsan urna nulla at metus.</p>

						{% include "partials/snippets/share-buttons.njk" %}

					</div>
					<!-- .wysiwyg -->

				</div>
				<!-- .col-md-8 -->
			</div>
			<!-- .row -->
		</div>
		<!-- .container -->
	</div>
	<!-- .section -->

	<footer class="article__related section bg-pale-blue bg-pattern-geometric">
		<div class="container">
			<div class="wysiwyg">
				<div class="row">
					<div class="col-12 col-lg-8">
						<h2 class="h4 mt-0">Features</h2>
						<div class="row">
							<div class="col-12 col-sm-6 mb-3">
								<article class="article article__related-entry">
									<a href="#">
										<img class="img-fluid w-100 mb-2" src="{{ includePath }}images/placeholder/cover-story.jpg" alt="placeholder">
										<h1 class="article__related-title body-text font-weight-bold">Cancer and Fertility</h1>
									</a>
								</article>
							</div>
							<!-- .col-6 -->
							<div class="col-12 col-sm-6 mb-3">
								<article class="article article__related-entry">
									<a href="#">
										<img class="img-fluid w-100 mb-2" src="{{ includePath }}images/placeholder/feature-3.jpg" alt="placeholder">
										<h1 class="article__related-title body-text font-weight-bold">Donec at Nunc Sit Amet</h1>
									</a>
								</article>
							</div>
							<!-- .col-6 -->
							<div class="col-12 col-sm-6 mb-3">
								<article class="article article__related-entry">
									<a href="#">
										<img class="img-fluid w-100 mb-2" src="{{ includePath }}images/placeholder/feature-4.jpg" alt="placeholder">
										<h1 class="article__related-title body-text font-weight-bold">Nulla Malesuada Sed</h1>
									</a>
								</article>
							</div>
							<!-- .col-6 -->
							<div class="col-12 col-sm-6 mb-3">
								<article class="article article__related-entry">
									<a href="#">
										<img class="img-fluid w-100 mb-2" src="{{ includePath }}images/placeholder/feature-2.jpg" alt="placeholder">
										<h1 class="article__related-title body-text font-weight-bold">Denise Jamieson, MD, MPH named James Robert McCord Chair in Gynecology and Obstetrics</h1>
									</a>
								</article>
							</div>
							<!-- .col-6 -->
						</div>
						<!-- .row -->
					</div>
					<!-- .col-12 -->
					<div class="col-12 col-lg-4 pl-lg-5">
						<h2 class="h4 mt-0">Events</h2>
						<ul class="list-unstyled">
							<li class="mb-3"><a href="article.html" class="font-weight-bold">Building Community</a></li>
							<li class="mb-3"><a href="article.html" class="font-weight-bold">Atlanta Medicine Magazine</a></li>
							<li class="mb-3"><a href="article.html" class="font-weight-bold">Robert S. Kelley, DO, MBA</a></li>
							<li class="mb-3"><a href="article.html" class="font-weight-bold">White Coat Grady Gala 2018</a></li>
							<li class="mb-3"><a href="article.html" class="font-weight-bold">Zika Contraception Access Network Receives Recognition</a></li>
							<li class="mb-3"><a href="article.html" class="font-weight-bold">Dr. Carrie Cwiak, MD, MPH Recognized</a></li>
						</ul>
					</div>
				</div>
				<!-- .row -->
			</div>
			<!-- .wysiwyg -->
		</div>
		<!-- .container -->
	</footer>

</article>
