{# Article title, author and date #}
<header>
    <h1 id="page-title">{{ pageTitle }}</h1>
    <div class="small">
        <span class="article-author">By Johnny J. Smith</span>
        <span class="article-datetime">
            <time>May 15, 2018 @ 9:00 AM</time>
        </span>
    </div>
    <hr class="divider-ornamental"/>
</header>