<section class="card-row section" aria-labelledby="cardDocs">
    <div class="container">
        <div class="wysiwyg">
            <h2 id="cardDocs">Card Rows &amp; Variations
                <small>
                    <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank">docs </a>
                </small>
            </h2>

            <hr class="divider-ornamental">

            <h3>Card Group
                <small>
                    <a href="https://getbootstrap.com/docs/4.0/components/card/#card-groups" target="_blank">docs </a>
                </small>
            </h3>
            <p>Use card groups to render cards as a single, attached element with equal width and height columns.</p>
        </div>
        <!-- .wysiwyg -->

        <div class="card-group mb-5">
            {% for i in range(0, 3) -%}
            <div class="card">
                <img class="card-img-top" src="https://placehold.it/354x200" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                </div>
                <!-- .card-body -->
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <!-- .card-footer -->
            </div>
            <!-- .card -->
            {% endfor %}
        </div>
        <!-- .card-group -->

        <div class="wysiwyg">
            <h3>Card Deck
                <small>
                    <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks" target="_blank">docs </a>
                </small>
            </h3>
            <p>Need a set of equal width and height cards that aren’t attached to one another? Use card decks.</p>
        </div>
        <!-- .wysiwyg -->

        <div class="card-deck mb-5">
            {% for i in range(0, 3) -%}
            <div class="card">
                <img class="card-img-top" src="https://placehold.it/354x200" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                </div>
                <!-- .card-body -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <!-- .card-footer -->
            </div>
            <!-- .card -->
            {% endfor %}
        </div>
        <!-- .card-deck -->

        <div class="divider-ornamental w-100"></div>

        <div class="wysiwyg">
            <h3>Other types of cards</h3>
            <p>There are a lot of other styles to choose from.</p>
        </div>
        <!-- .wysiwyg -->

        <div class="row">

            <div class="col-md-4">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">Solid Background Color</div>
                    <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-outline-light">Go somewhere
                            <span class="fas fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- .card-body -->
                </div>
                <!-- .card -->
            </div>
            <!-- .col-md-4 -->

            <div class="col-md-4">
                <div class="card border-info mb-3">
                    <div class="card-header">Outlined Bordered</div>
                    <div class="card-body">
                        <h4 class="card-title">Info card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-info">Go somewhere
                            <span class="fas fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- .card-body -->
                </div>
                <!-- .card -->
            </div>
            <!-- .col-md-4 -->

            <div class="col-md-4">
                <a href="#" class="card card-button mb-3">
                    <img class="card-img-top" src="https://placehold.it/354x200/666666" alt="Card image">
                    <div class="card-body">
                        Card with Button Appearance
                    </div>
                    <!-- .card-body -->
                </a>
            </div>
            <!-- .col-md-4 -->

        </div>
        <!-- .row -->

    </div>
    <!-- .container -->
</section>