<section class="section bg-pale-blue bg-pattern-geometric" aria-labelledby="iconRowDocs">
    <div class="container">

        <div class="text-center">
            <div class="wysiwyg">
                <h2 class="display-4" id="iconRowDocs">Icon Row</h2>
                <hr class="divider-ornamental align-center">
                <p>Three items in a row that contain custom icons and links to other resources. To get the
                    <strong>pale blue background</strong>, use
                    <code>.bg-pale-blue</code> on the
                    <code>&lt;section&gt;</code> tag.</p>
            </div>
            <!-- .wysiwyg -->
        </div>
        <!-- .text-center -->

        <div class="wysiwyg">
            <h3>Unlinked cards</h3>
            <p>Cards containing a variety of content.</p>
        </div>
        <!-- .wysiwyg -->
        {% for i in range(0, 2) -%}
        <div class="card-deck mb-5">
            {% for i in range(0, 3) -%}
            <div class="card">
                <div class="card-body">
                    <div class="card__icon text-uppercase">
                        <div class="fas fa-asterisk" aria-hidden="true"></div>
                    </div>
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                    <a href="#">Go somewhere
                        <span class="fas fa-angle-double-right" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- .card-body -->
            </div>
            <!-- .card -->
            {% endfor %}
        </div>
        <!-- .card-deck -->
        {% endfor %}

        <div class="wysiwyg">
            <h3>Linked cards</h3>
            <p>Cards that are one big link.</p>
        </div>
        <!-- .wysiwyg -->
        {% for i in range(0, 2) -%}
        <div class="card-deck mb-5">
            {% for i in range(0, 3) -%}
            <a href="#" class="card">
                <div class="card-body">
                    <div class="card__icon text-uppercase">
                        <div class="fas fa-asterisk" aria-hidden="true"></div>
                    </div>
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                        is a little bit longer.</p>
                </div>
                <!-- .card-body -->
            </a>
            {% endfor %}
        </div>
        <!-- .card-deck -->
        {% endfor %}

    </div>
    <!-- .container -->
</section>