<section class="section bg-pale-blue bg-pattern-geometric" aria-labelledby="jumbo">
    <div class="container pb-5">
        <div class="wysiwyg">

            <h2 id="jumbo">Jumbo Title</h2>
            
            <hr class="divider-ornamental mb-5">

            <div class="row">

                <div class="col-md-8 order-md-2">

                    <h3 class="display-4">Jumbo Item - Person, Events, Location</h3>
                    <p>Monotonectally matrix 2.0 e-markets with synergistic channels. Authoritatively evolve cooperative.</p>
                    <p>Energistically whiteboard flexible web services with scalable value. Seamlessly build principle-centered
                        total linkage and holistic ROI. Synergistically.</p>
                    <p>
                        <a href="#" class="btn btn-lg btn-primary">Link to something
                            <span class="fas fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </p>

                </div>
                <!-- .col-md-8 -->

                <div class="col-md-4">
                    <img class="img-fluid" src="https://placehold.it/350" alt="placeholder">
                </div>
                <!-- .col-md-4 -->

            </div>
            <!-- .row -->
        </div>
        <!-- .wysiwyg -->
    </div>
    <!-- .container -->
</section>