<section class="section" aria-label="News">
    <div class="container">

        <div class="wysiwyg">
            <h1>Example News Feed</h1>
            <hr class="divider-ornamental">
            <br>
        </div>
        <!-- .wysiwyg -->

        <div class="row">

            <div class="col-md-6 mb-5">
                {% include "partials/snippets/news.njk" %}
            </div>
            <!-- .col-md-6 -->

        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>