<section class="section" aria-labelledby="partialWidthPage">
    <div class="container">

        <div class="row">
            <div class="col-md-8">

                <!-- User-entered WYSIWYG content -->
                <div class="wysiwyg">
                    <h1 id="partialWidthPage">Page Introduction - Partial Width</h1>
                    <p class="lead">A Page Introduction is used in Interior Pages. It start with a
                        <code>&lt;h1&gt;</code> and follows with brief
                        <code>.lead</code> text and potentionally regular text. Uniquely communicate professional markets via corporate
                        portals.</p>
                    {% for i in range(0, 2) -%}
                        {% include "partials/snippets/paragraph.njk" %}
                    {% endfor %}
                </div>
                <!-- .wysiwyg -->

                <a id="alert"></a>

                {% include "partials/snippets/alert.njk" %}

            </div>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->

        <a id="social"></a>

        <div class="wysiwyg">
            <h2>Social Media</h2>
            <p>Social media buttons can be placed within the main content.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/social-media.njk" %}

        <a id="2colcards"></a>

        <div class="wysiwyg">
            <h2>2-col Cards</h2>
            <p>These cards contain an image on the left with brief text and link on the right.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/card-2col-x3.njk" %}

        <a id="media-embed"></a>

        <div class="wysiwyg">
            <h2>Responsive Media Embed</h2>
            <p>There are multiple aspect ratios to choose from when creating a responsive media embed. Media embeds can include:</p>
            <ul class="list-chevron">
                <li>Videos - YouTube, Flickr, etc.</li>
                <li>Maps - Google, Mapquest, etc.</li>
                <li>
                    <code>&lt;iframe&gt;</code>
                </li>
                <li>
                    <code>&lt;embed&gt;</code>
                </li>
                <li>
                    <code>&lt;video&gt;</code>
                </li>
                <li>
                    <code>&lt;object&gt;</code>
                </li>
            </ul>
            <div class="alert alert-info">
                <span class="fas fa-info-circle"></span> Iframe Accessibility: Any
                <code>&lt;iframe&gt;</code> must contain a
                <code>title=""</code> attribute in order to meet accessibility standards.
            </div>
            <!-- .alert -->
            {% include "partials/snippets/media-embed.njk" %}
        </div>
        <!-- .wysiwyg -->

    </div>
    <!-- .container -->
</section>