<section class="section" aria-labelledby="fullWidthPage">
    <div class="container">

        <!-- User-entered WYSIWYG content -->
        <div class="wysiwyg">
            <h1 id="fullWidthPage">Page Introduction - Full Width</h1>
            <p class="lead">A Page Introduction is used in Interior Pages. It start with a
                <code>&lt;h1&gt;</code> and follows with brief
                <code>.lead</code> text and potentionally regular text. Uniquely communicate professional markets via corporate
                portals.</p>
            {% for i in range(0, 2) -%}
                {% include "partials/snippets/paragraph.njk" %}
            {% endfor %}
        </div>
        <!-- .wysiwyg -->

        {% include "partials/snippets/alert.njk" %}

        <a id="blockquote"></a>

        <div class="wysiwyg pb-4">
            <h2>Blockquote</h2>
            <p>There are two styles of blockquote depending on text length.</p>
        </div>
        <!-- .wysiwyg -->

        <div class="wysiwyg">
            <h3>Default Blockquote</h3>
            <p>Compact, serious appearance for long quotes.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/blockquote.njk" %}

        <div class="wysiwyg">
            <h3>Alternative Blockquote</h3>
            <p>Large, fancy text for short quotes.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/blockquote-alt.njk" %}

        <a id="accordion-link"></a>

        <div class="wysiwyg">
            <h2>Accordion</h2>
            <p>Show and reveal a portion of content with the accordion.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/accordion.njk" %}

        <a id="patterns"></a>

        <div class="wysiwyg">
            <h2>Background Patterns</h2>
            <p>Classes can be used to add background patterns to containers.</p>
        </div>
        <!-- .wysiwyg -->
        {% include "partials/snippets/pattern-background.njk" %}

    </div>
    <!-- .container -->
</section>

<a id="jumbo-link"></a>

{% include "partials/sections/jumbo.njk" %}