<section class="section" aria-labelledby="sidebarPage">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="wysiwyg">
                    <h1 id="sidebarPage">{{ pageTitle }}</h1>
                    <hr class="divider-ornamental">
                    <p class="lead">Some interior pages have their own navigation located in the sidebar. The sidebar is wider than in the
                        previous version to accommodate longer navigation item names.</p>
                    {% include "partials/snippets/paragraph.njk" %}

                    <a id="alt-img-row"></a>

                    <h2>Alternating Image Rows</h2>
                    <p>These rows contain images, text, and a button. The content alternates visually using
                        <code>.order-#</code> Bootstrap classes.</p>
                </div>
                <!-- .wysiwyg -->

                {% for i in range(0, 2) -%}
                    {% include "partials/snippets/alt-img-row.njk" %}
                {%endfor %}

            </div>
            <!-- .col-md-8 -->
            <div class="col-md-4 col-lg-3 offset-lg-1">

                <aside class="sidebar">
                    {% include "partials/snippets/interior-nav.njk" %}
                </aside>

            </div>
            <!-- .col-md-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>