<section class="section" aria-label="Contact Information">
	<div class="container">
		<div class="row">

			<div class="col-md-8">
				<div class="wysiwyg">
					<h1>{{ pageTitle }}</h1>

					<hr class="divider-ornamental">

					<p class="lead">Wrap each block of related contact content inside
						<code>&lt;address&gt;</code> tags.</p>

					{% for i in range(0, 2) -%}
					<address class="contact mt-5">
						<div class="h2">Name of Org/Person</div>
						<p>Optional brief description here.</p>

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Address:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="#">
									1234 Street Name
									<br> Building #
									<br> Atlanta,
									<abbr title="Georgia">GA</abbr>
								</a>
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Email 1:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="mailto:#">email1@emory.edu</a>
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Email 2:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="mailto:#">email2@emory.edu</a>
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Email 3:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="mailto:#">email3@emory.edu</a>
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Phone:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="tel:#">(555) 555-5555</a>*
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->

						<div class="contact__entry row py-2">
							<div class="contact__label col-sm-3 col-lg-2">
								<div class="h6 mb-0">Fax:</div>
							</div>
							<!-- .contact__label -->
							<div class="contact__details col-sm-9 col-lg-10">
								<a href="tel:#">(333) 333-3333</a>*
							</div>
							<!-- .contact__details -->
						</div>
						<!-- .contact__entry -->
						
						<small>*Brief additional details can be placed here.</small>
					</address>
					{% endfor %}

				</div>
				<!-- .wysiwyg -->
			</div>
			<!-- .col-md-8 -->

			<div class="col-md-4 col-lg-3 offset-lg-1">

				<aside class="sidebar">
					{% include "partials/snippets/interior-nav.njk" %}
				</aside>

			</div>
			<!-- .col-md-4 -->

		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
</section>