{% extends "layout.njk" %} 
{% set pageTitle = 'Archives' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteTitle }}</title>
{% endblock %} 

{% block content %}

{% include "partials/sections/archives.njk" %}

{% endblock %}
