{% extends "layout.njk" %} 
{% set pageTitle = 'News' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteTitle }}</title>
{% endblock %} 

{% block content %}
<main>

{% include "partials/hero/hero-empty.njk" %}

{% include "partials/sections/article.njk" %}

</main>
{% endblock %}
