{% extends "layout.njk" %}
{% set pageTitle = 'Carousel' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main>

{% include "partials/snippets/breadcrumbs.njk" %}

<section aria-label="carousel">

    <h1 class="sr-only">{{ pageTitle }}</h1>

    {% include "partials/snippets/carousel.njk" %}

</section>

<section class="section" aria-label="Carousel Documentation">
    <div class="container">
        <div class="wysiwyg">
            <h2>Bootstrap Carousel <small><a href="https://getbootstrap.com/docs/4.0/components/carousel/" target="_blank">Docs</a></small></h2>
            <p class="lead">The carousel above contains navigation controls, captions, and indicators.</p>
            <p>This is just the basic implementation of the Bootstrap 4 carousel with very few CSS modifications.</p>
        </div><!-- .wysiwyg -->
    </div><!-- .container -->
</section>

</main>
{% endblock %}
