{% extends "layout.njk" %} 
{% set pageTitle = 'Contact' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %} 

{% block content %}
<main>

{% include "partials/hero/hero-empty.njk" %}

{% include "partials/sections/page-contact.njk" %}

</main>
{% endblock %}
