{% extends "layout.njk" %}
{% set pageTitle = 'June 2018' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteTitle }}</title>
{% endblock %}

{% block content %}
<main>

<div class="container">
	<div class="row">
		<div class="col-12 pt-5 pb-3">
			<h1 class="issue-title m-0">June 2018 | Volume 1 | Issue 1</h1>
		</div>
	</div>
	<a href="article.html" class="bg-primary text-light index-feature index-feature-cover row flex-column-reverse flex-md-row-reverse py-3">
		<div class="col-12 col-md-4">
			<h2 class="h4">Cover Story</h2>
			<h3 class="h2">Cancer and Fertility</h3>
			<p>One Emory reproductive endocrinologist guides patients along their journey.</p>
		</div>
		<div class="col-12 col-md-8">
			<figure>
				<img src="{{ includePath }}images/placeholder/cover-story.jpg" alt="" class="w-100 img-fluid">
			</figure>
		</div>
	</a>
	<div class="row py-3 mb-4">
		<div class="col-12 col-md-6">
			<a href="article.html" class="index-feature index-feature-secondary row flex-column-reverse flex-lg-row-reverse py-3 mr-lg-0">
				<div class="col-12 col-lg-6">
					<h2 class="h3">Donec at Nunc Sit Amet</h2>
					<p>Aenean vehicula metus odio, et vulputate sem pharetra ut.</p>
				</div>
				<div class="col-12 col-lg-6">
					<figure>
						<img src="{{ includePath }}images/placeholder/feature-3.jpg" alt="" class="w-100 img-fluid">
					</figure>
				</div>
			</a>
		</div>
		<div class="col-12 col-md-6">
			<a href="article.html" class="index-feature index-feature-secondary row flex-column-reverse flex-lg-row-reverse py-3 ml-lg-0">
				<div class="col-12 col-lg-6">
					<h2 class="h3">Nulla Malesuada Sed</h2>
					<p>Integer diam odio, congue et lacus sit amet, luctus aliquam nulla.</p>
				</div>
				<div class="col-12 col-lg-6">
					<figure>
						<img src="{{ includePath }}images/placeholder/feature-4.jpg" alt="" class="w-100 img-fluid">
					</figure>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row pb-5">
		<div class="col-12 col-lg-3 mb-5">
			<h2 class="h4 mb-2">Events</h2>
			<ul class="list-unstyled pt-3">
				<li class="mb-3">
					<a href="article.html" class="font-weight-bold">
						<figure>
							<img src="{{ includePath }}images/placeholder/event.jpg" alt="" class="w-100 img-fluid">
						</figure>
						Building Community
					</a>
				</li>
				<li class="mb-3"><a href="article.html" class="font-weight-bold">Atlanta Medicine Magazine</a></li>
				<li class="mb-3"><a href="article.html" class="font-weight-bold">Robert S. Kelley, DO, MBA</a></li>
				<li class="mb-3"><a href="article.html" class="font-weight-bold">White Coat Grady Gala 2018</a></li>
				<li class="mb-3"><a href="article.html" class="font-weight-bold">Zika Contraception Access Network Receives Recognition</a></li>
				<li class="mb-3"><a href="article.html" class="font-weight-bold">Dr. Carrie Cwiak, MD, MPH Recognized</a></li>
			</ul>
		</div>
		<div class="col-12 col-lg-6 mb-3">
			<h2 class="h4 mb-2">Physician Profile</h2>
			<a href="article.html" class="index-feature index-feature-tertiary row flex-column-reverse py-3 mb-2">
				<div class="col-12">
					<h2 class="h3">Empowering Teens with Open Doors, Honest Conversations</h2>
					<p>Tiffany Hailstorcks, MD with Emory Department of Gynecology and Obstetrics Family Planning Division offers patients empathy, education, and support.</p>
				</div>
				<div class="col-12">
					<figure>
						<img src="{{ includePath }}images/placeholder/feature-1.jpg" alt="" class="w-100 img-fluid">
					</figure>
				</div>
			</a>
			<h2 class="h4 mt-3 mb-2">McCord Chair</h2>
			<a href="article.html" class="index-feature index-feature-tertiary row flex-column-reverse py-3 mb-3">
				<div class="col-12">
					<h2 class="h3">Denise Jamieson, MD, MPH named James Robert McCord Chair in Gynecology and Obstetrics</h2>
					<p>On Thursday, April 12, 2018, colleagues, faculty, residents, and friends joined in celebrating Denise Jamieson, MD, MPH, being named the James Robert McCord Chair in Gynecology and Obstetrics.</p>
				</div>
				<div class="col-12">
					<figure>
						<img src="{{ includePath }}images/placeholder/feature-2.jpg" alt="" class="w-100 img-fluid">
					</figure>
				</div>
			</a>
		</div>
		<div class="col-12 col-lg-3 mb-5 mt-lg-5 pt-lg-1">
			<a href="" class="btn btn-lg btn-outline-secondary d-block text-left mb-3">
				<span class="fas fa-bullhorn" aria-hidden="true"></span> Advertise
			</a>
			<a href="" class="btn btn-lg btn-outline-secondary d-block text-left mb-5">
				<span class="fas fa-sun" aria-hidden="true"></span> Give Now
			</a>
			<a href="" class="promo-banner d-block text-center mb-3">
				<img src="{{ includePath }}images/placeholder/banner-1.jpg" alt="" class="w-100 img-fluid">
			</a>
			<a href="" class="promo-banner d-block text-center mb-3">
				<img src="{{ includePath }}images/placeholder/banner-2.jpg" alt="" class="w-100 img-fluid">
			</a>
			<a href="" class="promo-banner d-block text-center mb-3">
				<img src="{{ includePath }}images/placeholder/banner-3.jpg" alt="" class="w-100 img-fluid">
			</a>
		</div>
	</div>
</div>

</main>
{% endblock %}
