{% extends "layout.njk" %} 
{% set pageTitle = 'Fall 2017' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteTitle }}</title>
{% endblock %} 

{% block content %}
<main>

{% include "partials/sections/card-row.njk" %}

{% include "partials/sections/icon-row.njk" %}

</main>
{% endblock %}