{% extends "layout.njk" %}
{% set pageTitle = 'Interior Page' %}
{% block head %}
<title>{{ pageTitle }} | {{ siteName }}</title>
{% endblock %}

{% block content %}
<main>

{% include "partials/hero/hero-empty.njk" %}

{% include "partials/sections/page-full-width.njk" %}

</main>
{% endblock %}
