{% set siteName = "Standard Template" %}
{% set includePath = "includes/" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/meta.njk" %}
    {% block head %}{% endblock %}
    {% include "partials/head.njk" %}
</head>

<body>
    <a id="top" class="sr-only sr-only-focusable">Top of page</a>
    <a href="#main" class="sr-only sr-only-focusable skip-link">Skip to main content</a>

    {% include "partials/global/header.njk" %}

    <a id="main" class="sr-only sr-only-focusable">Main content</a>

    {% block content %}{% endblock %}
    
    {% include "partials/global/footer.njk" %}
    {% include "partials/js.njk" %}
</body>

</html>