// Use outline as a hover indicator in addition to color
.btn,
.navbar-nav a,
a.card,
a.badge,
.pagination a,
.dropdown-menu a,
a.list-group-item-action,
.dataTables_paginate a:not(.current),
.nav.nav-buttons .nav-link,
.nav-tabs .nav-link:not(.active),
.nav-pills .nav-link {
    &:not(:focus) {
        // So as not to override default focus outline
        outline: 2px solid transparent;
    }
    &:not(:disabled):not(.disabled):hover {
        outline-color: $sky-blue;
    }
}

// Skip to main content link
.skip-link {
    font-size: 1.25rem;
    padding: .25rem;
    &:after {
        content: ' ' '\f103';
        font-family: 'Fontawesome';
    }
}

// Text selection color
::selection {
    color: theme-color("light");
    background: theme-color("secondary");
}

// SVG title and description
svg {
    title,
    desc {
        background-color: theme-color("dark");
        color: theme-color("light");
    }
}