// Body text
@mixin body-font {
	font-family: $body-font;
	font-weight: $font-weight-base;
	text-transform: none;
	letter-spacing: normal;
}

// Headlines
@mixin headlineFont {
	font-family: $spectral;
	font-weight: bold;
	text-transform: none;
	letter-spacing: normal;
}

@mixin subheadFont {
	font-family: $barlow-condensed;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .05em;
}