<div class="alert alert-info mb-5">
    <div class="wysiwyg">
        <strong class="h5">Gray alert box:</strong> {% include "partials/snippets/paragraph.njk" %}
    </div>
    <!-- .wysiwyg -->
</div>
<!-- .alert -->