<!-- Alternating Image Row -->
<div class="row py-5">
    <div class="col-md-8 order-2">
        <div class="wysiwyg">
            <h3 class="h4">Alt Img Row Item</h3>
            {% include "partials/snippets/paragraph.njk" %}
            <a class="btn btn-outline-primary" href="#">Learn More
                <span class="fas fa-angle-double-right" aria-hidden="true"></span>
            </a>
        </div>
        <!-- .wysiwyg -->
    </div>
    <!-- .col-md-8 -->

    <div class="col-md-4">
        <img class="img-fluid mb-3" src="https://placehold.it/300x250" alt="placeholder">
    </div>
    <!-- .col-md-4 -->

</div>
<!-- .row -->

<div class="row py-5">
    <div class="col-md-8 order-2 order-md-1">
        <div class="wysiwyg">
            <h3 class="h4">Alt Img Row Item</h3>
            {% include "partials/snippets/paragraph.njk" %}
            <a class="btn btn-outline-primary" href="#">Learn More
                <span class="fas fa-angle-double-right" aria-hidden="true"></span>
            </a>
        </div>
        <!-- .wysiwyg -->
    </div>
    <!-- .col-md-8 -->

    <div class="col-md-4 order-1 order-md-2">
        <img class="img-fluid mb-3" src="https://placehold.it/300x250" alt="placeholder">
    </div>
    <!-- .col-md-4 -->

</div>
<!-- .row -->