<blockquote class="blockquote blockquote--alt mb-5">
	{% include "partials/snippets/paragraph.njk" %}
	<footer class="blockquote-footer">Someone famous in
		<cite title="Source Title">Source Title</cite>
	</footer>
</blockquote>