<!-- Card Row -->
<div class="card-deck mb-5">
    {% for i in range(0, 3) -%}
    <div class="card">
        <img class="card-img-top" src="https://placehold.it/354x200" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
                little bit longer.</p>
        </div>
        <!-- .card-body -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <!-- .card-footer -->
    </div>
    <!-- .card -->
    {% endfor %}
</div>
<!-- .card-deck -->