<nav class="interior-nav nav nav-pills flex-column bg-secondary mb-4">

    <h2 class="h5 p-3 mb-0 bg-primary">Sidebar Navigation Menu</h2>

    <a class="nav-link{% if pageTitle == 'Interior Page' %} active{% endif %}" href="interior.html">Interior</a>
    {% if pageTitle == 'Interior Page' %}
    <span class="sr-only">(current)</span>
    {% endif %}

    <a class="nav-link{% if pageTitle == 'Sidebar Page' %} active{% endif %}" href="sidebar.html">Sidebar</a>
    {% if pageTitle == 'Sidebar Page' %}
    <span class="sr-only">(current)</span>
    {% endif %}

    <a class="nav-link{% if pageTitle == 'Calendar' %} active{% endif %}" href="calendar.html">Calendar</a>
    {% if pageTitle == 'Calendar' %}
    <span class="sr-only">(current)</span>
    {% endif %}

    <a class="nav-link{% if pageTitle == 'Contact' %} active{% endif %}" href="contact.html">Contact</a>
    {% if pageTitle == 'Contact' %}
    <span class="sr-only">(current)</span>
    {% endif %}

    <a class="nav-link{% if pageTitle == 'WYSIWYG Kitchen sink' %} active{% endif %}" href="wysiwyg.html">WYSIWYG</a>
    {% if pageTitle == 'WYSIWYG Kitchen sink' %}
    <span class="sr-only">(current)</span>
    {% endif %} {% for i in range(0, 4) -%}
    <a class="nav-link" href="#">Item</a>
    {% endfor %}

</nav>

<nav>
    <h2 class="h5">Link List Title</h2>
    <hr class="divider-ornamental w-100 m-0">
    <div class="list-group list-group-sm">
        {% for i in range(0, 4) -%}
        <a href="#" class="list-group-item list-group-item-action">Link List Item</a>
        {% endfor %}
    </div>
</nav>