<div class="row">

    <div class="col-md-6 mb-5">
        <h3>21:9 Ratio
            <small>Ultrawide</small>
        </h3>
        <div class="embed-responsive embed-responsive-21by9">
            <iframe title="Title of Video" class="embed-responsive-item" src="https://www.youtube.com/embed/ZH4YSF-i5dY"></iframe>
        </div>
        <!-- .embed-responsive -->
    </div>
    <!-- .col-md-6 -->

    <div class="col-md-6 mb-5">
        <h3>16:9 Ratio
            <small>Standard</small>
        </h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe title="Title of Video" class="embed-responsive-item" src="https://www.youtube.com/embed/4k5SVYkhiK8"></iframe>
        </div>
        <!-- .embed-responsive -->
    </div>
    <!-- .col-md-6 -->

    <div class="col-md-6 mb-5">
        <h3>4:3 Ratio
            <small>Ye olde monitor</small>
        </h3>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe title="Title of Video" class="embed-responsive-item" src="https://www.youtube.com/embed/Ep3jK1bZrB8"></iframe>
        </div>
        <!-- .embed-responsive -->
    </div>
    <!-- .col-md-6 -->

    <div class="col-md-6 mb-5">
        <h3>1:1 Ratio
            <small>Square</small>
        </h3>
        <div class="embed-responsive embed-responsive-1by1">
            <iframe title="Title of Video" class="embed-responsive-item" src="https://www.youtube.com/embed/m79CE3NFmeY"></iframe>
        </div>
        <!-- .embed-responsive -->
    </div>
    <!-- .col-md-6 -->

</div>
<!-- .row -->