<div class="news card" aria-label="News">
	
	<div class="card-header card-header--dark">
		<h2 class="h4 mb-0 text-light">News</h2>
	</div>
	<!-- .news__title -->

	<a href="#" class="w-100">
		<img class="card-img-top img-fluid" src="https://placehold.it/354x200" alt="News image">
	</a>
	<div class="card-body">
		<p class="card-title">
			<strong>
				<a href="#">
					Dynamically visualize pandemic leadership and error-free core competencies
				</a>
			</strong>
		</p>
		<p class="card-text">
			<small>
				Competently maintain enterprise technology through cross functional deliverables. Intrinsicly negotiate vertical convergence.
			</small>
		</p>
	</div>
	<!-- .card-body -->

	<div class="list-group list-group-flush">
		<div class="list-group-item list-group-title">
			<h3 class="h5 mb-0">
				Also in the News
			</h3>
		</div>
		<!-- .list-group-item -->
		{% for i in range(0, 3) -%}
		<a href="#" class="list-group-item list-group-item-action">
			<small>
				Conveniently productize optimal catalysts for change vis-a-vis worldwide leadership
			</small>
		</a>
		{% endfor %}
	</div>
	<!-- .list-group -->

	<div class="card-footer bg-white text-right">
		<a href="#" class="btn btn-outline-primary">
			<span class="fas fa-newspaper" aria-hidden="true"></span> View All News</a>
	</div>
	<!-- .card-footer -->

</div>
<!-- .news -->