<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-pattern-image-light p-5">
			<h3>Light Image Pattern</h3>
			<pre>.bg-pattern-image-light</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-pattern-image-light -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-pattern-image-dark text-light p-5">
			<h3>Dark Image Pattern</h3>
			<pre>.bg-pattern-image-dark .text-light</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-pattern-image-dark -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->

<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-white bg-pattern-geometric p-5">
			<h3>Light Geometric Pattern</h3>
			<pre>.bg-white .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-white -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-light bg-pattern-geometric p-5">
			<h3>Light Geometric Pattern</h3>
			<pre>.bg-light .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-light -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->

<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-pale-blue bg-pattern-geometric p-5">
			<h3>Light Geometric Pattern</h3>
			<pre>.bg-pale-blue .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-pale-blue -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-warning bg-pattern-geometric p-5">
			<h3>Light Geometric Pattern</h3>
			<pre>.bg-warning .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-warning -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->

<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-primary bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-primary .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-primary -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-secondary bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-secondary .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-secondary -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->

<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-dark bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-dark .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-dark -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-success bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-success .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-success -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->

<div class="row mb-4">

	<div class="col-md-6">
		<div class="bg-danger bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-danger .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-danger -->
	</div>
	<!-- .col-md-6 -->
	<div class="col-md-6">
		<div class="bg-info bg-pattern-geometric p-5">
			<h3>Dark Geometric Pattern</h3>
			<pre>.bg-info .bg-pattern-geometric</pre>
			{% include "partials/snippets/paragraph.njk" %}
		</div>
		<!-- .bg-info -->
	</div>
	<!-- .col-md-6 -->

</div>
<!-- .row -->