<!-- ADD THIS SHARE BUTTONS -->
<div class="my-5">
    <h2 class="h6">Share This Story</h2>
    <div class="addthis_inline_share_toolbox"></div>
</div>
<!-- .my-5 -->

<!--<div class="btn-group btn-group-lg" role="group" aria-label="Social Media and Sharing">
    <button type="button" class="btn btn-primary" title="Facebook">
        <span class="fab fa-facebook" aria-hidden="true"></span>
        <span class="sr-only">Facebook</span>
    </button>
    <button type="button" class="btn btn-secondary" title="Twitter">
        <span class="fab fa-twitter" aria-hidden="true"></span>
        <span class="sr-only">Twitter</span>
    </button>
    <button type="button" class="btn btn-danger" title="Google Plus">
        <span class="fab fa-google-plus" aria-hidden="true"></span>
        <span class="sr-only">Google Plus</span>
    </button>
    <button type="button" class="btn btn-muted" title="Email">
        <span class="fas fa-envelope" aria-hidden="true"></span>
        <span class="sr-only">Email</span>
    </button>
    <button type="button" class="btn btn-muted" title="Print">
        <span class="fas fa-print" aria-hidden="true"></span>
        <span class="sr-only">Print</span>
    </button>
</div>-->
<!-- .btn-group -->