/*
 * 
 * EMORY BRAND COLOR PALETTE - DO NOT CHANGE!!!
 * "AA compliant" means color is WCAG 2.0 AA compliant for text on a white background, or as a background for white text
 * 
*/
/*
 * 
 * SUPPLEMENTAL COLORS
 * Not part of the Emory brand palette
 * 
*/
/*
 * 
 * EMORY BRAND FONT STACKS
 * 
*/
/*
 * TYPOGRAPHY
*/
/*
 * ASPECT RATIO PLACEHOLDER
 * For $width and $height, enter the aspect
 * ratio numbers, like (16,9) or (4,3).
*/
/*
 * FONTAWESOME CSS PSEUDO ELEMENT
 * Use this ::before or ::after
 * an element
*/
/*
 * ACCESSIBILITY
 * Basic outline styles
*/
/* Site-specific styles */
.issue-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: bold;
  color: #101820; }

a.archive-link, a.index-feature {
  text-decoration: none;
  transition: background-color .1s; }
  a.archive-link:hover, a.index-feature:hover {
    background-color: rgba(65, 182, 230, 0.08);
    outline: solid 1px #41b6e6; }

a.index-feature {
  color: #101820; }
  a.index-feature h2, a.index-feature h3 {
    color: #012169; }
  a.index-feature .h3 {
    font-size: 1.5rem; }
  a.index-feature .h4 {
    color: #b58500; }

.index-feature-secondary {
  background-color: #ebf5f9; }

.promo-banner {
  text-decoration: none; }
  .promo-banner img {
    max-width: 300px;
    outline: solid 1px transparent;
    transition: outline-color .25s; }
  .promo-banner:hover img {
    outline-color: #41b6e6; }

.article__meta {
  border-bottom: none; }

.article__author::after {
  display: none; }

.article-subhead {
  font-size: 1.25rem; }

@media (min-width: 576px) {
  .figure.float-sm-left, .figure.float-sm-right {
    max-width: 50%; } }

@media (min-width: 992px) {
  a.index-feature figure, a.index-feature p {
    margin-bottom: 0; }
  a.index-feature.index-feature-tertiary figure {
    margin-bottom: 1rem; } }
