<div id="siteFooter" class="site-footer">

	{% include "partials/snippets/skip-footer.njk" %}

    {# Emory Shield and Ribbons #}
    <div class="site-footer__ribbons" role="presentation">
        <div class="site-footer__ribbons-fold">
            <span></span>
        </div>
        <div class="site-footer__ribbons-yellow"></div>
        <div class="site-footer__ribbons-blue"></div>
    </div>
    {# /.site-footer__ribbons #}

    {# Emory Shield Logo #}
    <a href="#" class="emory-logo">
        <img src="{{ templateIncludePath }}images/eu-logo-footer.svg" alt="Emory University home" class="site-footer__eu-logo-footer" />
    </a>

	<div class="site-footer__content">

        <div class="container">

			<!-- Site Name -->
			<div class="site-footer__name text-center mb-5">
				<a href="#">{{ siteName }}</a>
			</div>
			<!-- .footer-name -->

			<!-- Mega Menu -->
			<div class="row flex-sm-row-reverse">

				<!-- Additional Menus -->
				<div class="site-footer__menus col-lg-8 mb-4">
					<ul class="nav flex-column fa-ul" aria-label="Related Links">
						<li class="nav-item">
							<a class="nav-link" href="http://www.gynob.emory.edu/" target="_blank" rel="noopener">Emory Gynecology and Obstetrics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://med.emory.edu" target="_blank" rel="noopener">Emory University School of Medicine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://www.emoryhealthcare.org" target="_blank" rel="noopener">Emory Healthcare</a>
						</li>
						<li>
							<a class="nav-link" href="http://www.whsc.emory.edu" target="_blank" rel="noopener">Emory's Woodruff Health Sciences Center</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://emorymedicinemagazine.emory.edu/"  target="_blank" rel="noopener"><em>Emory Medicine</em> Alumni magazine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://emorynursingmagazine.emory.edu/" target="_blank" rel="noopener"><em>Emory Nursing</em> Alumni magazine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://publichealthmagazine.emory.edu/" target="_blank" rel="noopener"><em>Emory Public Health</em> Alumni magazine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://winshipcancer.emory.edu/magazine/" target="_blank" rel="noopener"><em>Emory Winship</em> Magazine</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://whsc.emory.edu/home/publications/index.html" target="_blank" rel="noopener">Health Sciences Publications</a>
						</li>
					</ul>
				</div>
				<!-- .col-lg-8 -->

				<!-- Logo, Address, Social Media -->
				<div class="col-12 col-lg-4 mb-3 text-center">
					<a href="http://www.gynob.emory.edu/" target="_blank" rel="noopener" class="d-block">
						<img src="{{ includePath }}images/site-wide/emory-department-gynecology-obstetrics-sq-rev.svg" alt="Emory University School of Medicine - Department of Gynecology and Obstetrics" class="img-fluid mb-5">
					</a>
					{% include "partials/snippets/share-buttons-white-small.njk" %}
				</div>
				<!-- .col-lg-4 -->

			</div>
			<!-- .row -->

		</div>
		<!-- .container -->
	</div>
	<!-- .section -->

	{# POST FOOTER #}
    {% include "partials/global/post-footer.njk" %}

</div>
