<footer id="siteFooter" class="site-footer">

	<!-- Emory Shield and Ribbons -->
	<div class="site-footer__ribbons" role="presentation">
		<div class="site-footer__ribbons-fold">
			<span></span>
		</div>
		<div class="site-footer__ribbons-yellow"></div>
		<div class="site-footer__ribbons-blue"></div>
	</div>
	<!-- .site-footer__ribbons -->
	
	<a href="#">
		{% include "partials/svg/eu-logo-footer.njk" %}
	</a>

	<div class="section pb-4 bg-primary">

		<div class="container pt-5">

			<!-- Site Name -->
			<div class="site-footer__name text-center mb-5">
				<a href="#">{{ siteName }}</a>
			</div>
			<!-- .footer-name -->

			<!-- Mega Menu -->
			<div class="row flex-sm-row-reverse">

				<!-- Additional Menus -->
				<div class="site-footer__menus col-lg-8 mb-4">
					<div class="row flex-row-reverse">
						<div class="col-12 col-sm-4 mb-3">
							<a href="https://winshipcancer.emory.edu/magazine/issues/2017/fall/print.pdf" target="_blank" rel="noopener">
								<img src="{{ includePath }}images/placeholder/print-edition-cover.jpg" alt="" class="w-100 img-fluid">
								Print Edition
							</a>
						</div>
						<!-- .col-sm-4 -->
						<div class="col-12 col-sm-8 mb-3">
							<ul class="nav flex-column fa-ul" aria-label="Related Links">
								<li class="nav-item">
								 	<a class="nav-link" href="http://www.gynob.emory.edu/" target="_blank" rel="noopener">Emory Gynecology and Obstetrics</a>
								</li>
								<li class="nav-item">
								 	<a class="nav-link" href="http://med.emory.edu" target="_blank" rel="noopener">Emory University School of Medicine</a>
								</li>
								<li class="nav-item">
								 	<a class="nav-link" href="http://www.emoryhealthcare.org" target="_blank" rel="noopener">Emory Healthcare</a>
								</li>
								<li>
									<a class="nav-link" href="http://www.whsc.emory.edu" target="_blank" rel="noopener">Emory's Woodruff Health Sciences Center</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="http://emorymedicinemagazine.emory.edu/"  target="_blank" rel="noopener"><em>Emory Medicine</em> Alumni magazine</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="http://emorynursingmagazine.emory.edu/" target="_blank" rel="noopener"><em>Emory Nursing</em> Alumni magazine</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="http://publichealthmagazine.emory.edu/" target="_blank" rel="noopener"><em>Emory Public Health</em> Alumni magazine</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="https://winshipcancer.emory.edu/magazine/" target="_blank" rel="noopener"><em>Emory Winship</em> Magazine</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="http://whsc.emory.edu/home/publications/index.html" target="_blank" rel="noopener">Health Sciences Publications</a>
								</li>
							</ul>
						</div>
						<!-- .col-sm-8 -->
					</div>
					<!-- .row -->
				</div>
				<!-- .col-lg-7 -->

				<!-- Logo, Address, Social Media -->
				<div class="col-12 col-lg-4 mb-3 text-center">
					<a href="http://www.gynob.emory.edu/" target="_blank" rel="noopener" class="d-block">
						<img src="{{ includePath }}images/site-wide/emory-department-gynecology-obstetrics-sq-rev.svg" alt="Emory University School of Medicine - Department of Gynecology and Obstetrics" class="img-fluid mb-5">
					</a>
					{% include "partials/snippets/share-buttons-white-small.njk" %}
				</div>
				<!-- .col-lg-5 -->

			</div>
			<!-- .row -->

		</div>
		<!-- .container -->
	</div>
	<!-- .section -->

</footer>
<!-- #siteFooter -->
<div id="postFooter" class="site-post-footer">

	<div class="container py-2 text-center">
		<div class="row">

			<div class="col-sm-4">
				<small>Copyright &copy;
					<a href="#">Emory University</a>
				</small>
			</div>
			<!-- .col-sm-4 -->

			<div class="col-sm-4">
				<small>
					<a href="#">EO/AA Statement</a> |
					<a href="#">Copyright</a>
				</small>
			</div>
			<!-- .col-sm-4 -->

			<div class="col-sm-4">
				<a class="font-weight-bold" href="#">Back to top
					<span class="fas fa-angle-double-up" aria-hidden="true"></span>
				</a>
			</div>
			<!-- .col-sm-4 -->

		</div>
		<!-- .row -->
	</div>
	<!-- .container -->

</div>
<!-- #postFooter -->