<!-- Copyright -->
<link rel="license" href="http://communications.emory.edu/resources/copyright.html">

<!-- Site Icons -->
<link rel="icon" sizes="192x192" href="{{ includePath }}images/favicon.png"><!-- Icon in the highest resolution we need it for -->
<link rel="apple-touch-icon" href="{{ includePath }}images/favicon.png"><!-- Apple Touch Icon (reuse 192px icon.png) -->
<link rel="mask-icon" href="{{ includePath }}images/favicon.svg" color="#012169"><!-- Safari Pinned Tab Icon -->

<!--  
#########################################
EXTERNAL LIBRARIES / CDN
Place links to externally hosted
CSS libraries below.
#########################################
-->

<!-- FONT AWESOME 5
 * Although a script, this goes in the <head>
-->
<script>
  FontAwesomeConfig = { searchPseudoElements: true }; // Enable CSS pseudo elements
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!--  
#########################################
PRIMARY SITE STYLESHEET
This stylesheet is a combination of all
locally imported SCSS files.
#########################################
-->

<link href="{{ includePath }}css/site.css" rel="stylesheet">