{##########################################
JQUERY
Bootstrap dependency
https://jquery.com/
##########################################}
<script src="{{ templateIncludePath }}js/vendor/jquery/jquery.js"></script>

{##########################################
BOOTSTRAP COMPONENTS
https://getbootstrap.com/docs/4.1/getting-started/javascript/
Includes popper.js
##########################################}
<script src="{{ templateIncludePath }}js/vendor/bootstrap/bootstrap.bundle.js"></script>

{##########################################
PAYPAL - BOOTSTRAP ACCESSBILITY SUITE
This trimmed down file contains 
BS carousel accessibility features
##########################################}
<script src="{{ templateIncludePath }}js/vendor/paypal/bootstrap-accessibility.js"></script>

<script src="{{ templateIncludePath }}js/feed/date.js"></script>
<script src="{{ templateIncludePath }}js/feed/jsonfeed.js"></script>
<script src="{{ templateIncludePath }}js/feed/feed.jquery.js"></script>
<script src="{{ templateIncludePath }}js/site.js"></script>

{##########################################
PRIMARY SITE JAVASCRIPT
This javascript is a combination of all
locally imported JS files.
##########################################}
<script src="{{ includePath }}js/site.js"></script>

<!-- ADDTHIS SHARE BUTTONS -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5acf755a44af0bdd"></script>