<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="theme-color" content="#013262">

<meta name="description" content="This is the standard template provided by Emory University web services for customers to quickly set up a properly branded website that meets university accessibility standards.">

<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->