<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="theme-color" content="#013262">

<meta name="description" content="Winship Cancer Institute at Emory University in Atlanta, Georgia is a cancer research center that provides cancer diagnosis, treatment and support for cancer patients in Georgia.">

<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->